body {
  font-family: Arial, sans-serif;
  background: url("background.png") repeat;
  color: #222;
  margin: 40px auto;
  max-width: 700px;
  padding: 0 20px;
  cursor: url("cirsor.png"), auto;
}
body {
  margin: 40px auto;
  max-width: 700px;
}

img {
  margin: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
}


th, td {
  border: 1px solid #aaa;
  padding: 6px;
}
